@import "tailwindcss";


.scrollbar-hide {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
}

@font-face {
  font-family: 'Pyidaungsu';
  src: url('/fonts/Pyidaungsu') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Pyidaungsu', sans-serif;
}
